---
import {
  type BusinessHours,
  type Weekday,
  isClosed,
  isExceptional,
  isOrdinary,
} from "../../services/business-hours";

const dateFormatter = new Intl.DateTimeFormat("cs", {
  weekday: "short",
  month: "short",
  year: "numeric",
  day: "numeric",
});
const timeFormatter = new Intl.DateTimeFormat("cs", {
  hour: "numeric",
  minute: "numeric",
});
export const weekdays: Weekday[] = [
  "mon",
  "tue",
  "wed",
  "thu",
  "fri",
  "sat",
  "sun",
];
export const weekdayNames: Record<Weekday, string> = {
  mon: "Po",
  tue: "Út",
  wed: "St",
  thu: "Čt",
  fri: "Pá",
  sat: "So",
  sun: "Ne",
};

function renderTimeRange(businessHours: BusinessHours): string {
  const now = new Date().toDateString();
  const opens = new Date(`${now} ${businessHours.opens}`);
  const closes = new Date(`${now} ${businessHours.closes}`);
  return `${timeFormatter.format(opens)}&ndash;${timeFormatter.format(closes)}`;
}

function renderOrdinaryBusinessHours(
  ordinaryBusinessHours: BusinessHours[],
): string[] {
  const output: string[] = [];
  for (const weekday of weekdays) {
    const atDay = ordinaryBusinessHours.filter(({ weekdays }) =>
      weekdays.includes(weekday),
    );

    if (atDay.length === 0 || atDay.some((x) => isClosed(x))) {
      output.push(`${weekdayNames[weekday]}: zavřeno`);
    } else {
      output.push(
        `${weekdayNames[weekday]}: ${atDay.map(renderTimeRange).join(", ")}`,
      );
    }
  }

  return output;
}

function renderHTMLTime(isoDateString: string): string {
  const date = new Date(isoDateString);
  return `<time datetime="${date.toISOString()}">${dateFormatter.format(date)}</time>`;
}

function renderExceptionalBusinessHours(
  exceptionalBusinessHours: BusinessHours[],
): string[] {
  const output: string[] = [];

  for (const value of exceptionalBusinessHours) {
    if (isClosed(value)) {
      const description = value.description ? ` (${value.description})` : "";

      if (
        value.validFrom &&
        value.validTo &&
        value.validFrom === value.validTo
      ) {
        output.push(`${renderHTMLTime(value.validFrom)} zavřeno${description}`);
      } else if (value.validFrom && value.validTo) {
        output.push(
          `Od ${renderHTMLTime(value.validFrom)} do ${renderHTMLTime(value.validTo)} zavřeno${description}`,
        );
      } else if (value.validFrom && value.validTo == null) {
        output.push(
          `Od ${renderHTMLTime(value.validFrom)} zavřeno${description}`,
        );
      } else if (value.validFrom == null && value.validTo) {
        output.push(
          `Do ${renderHTMLTime(value.validTo)} zavřeno${description}`,
        );
      }
    }
  }
  return output;
}

export type Props = {
  businessHours: BusinessHours[];
};

const { businessHours } = Astro.props as Props;

const exceptionalBusinessHours = businessHours.filter(isExceptional);
const ordinaryBusinessHours = businessHours.filter(isOrdinary);
---

{
  exceptionalBusinessHours.length > 0 && (
    <>
      <h3 class="h5">Změny otvírací doby:</h3>
      <p
        class="alert alert-warning"
        set:html={renderExceptionalBusinessHours(exceptionalBusinessHours).join("<br/>")}
      />
    </>
  )
}
{
  ordinaryBusinessHours.length > 0 && (
    <>
      <h3 class="h5">Běžná otvírací doba:</h3>
      <p class="font-monospace" set:html={renderOrdinaryBusinessHours(ordinaryBusinessHours).join("<br/>")} />
    </>
  )
}
