---
export type Props = {
  height: number;
  width: number;
  [rest: string]: unknown;
};
---

<svg
  aria-label="logo"
  role="img"
  viewBox="0 0 95.25 27.214"
  {...Astro.props}
  xml:space="preserve"
  version="1.1"
  id="svg11"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>Logo / sad SMO anniversary</title>
  <defs id="defs11"></defs>
  <path
    style="fill:currentColor"
    d="m 2.988,0 v 0.949 c 0,2.487 -0.026,4.91 0.623,6.863 0.325,0.976 0.84,1.851 1.648,2.47 0.642,0.491 1.449,0.798 2.401,0.903 V 12.49 H 0 c 1.0443737,4.875134 2.0899041,9.750021 3.135,14.625 H 13.719 L 16.822,12.49 H 9.191 v -1.305 c 0.953,-0.105 1.76,-0.41 2.401,-0.902 C 12.4,9.665 12.916,8.791 13.242,7.815 13.891,5.863 13.864,3.44 13.864,0.949 V 0.061 L 12.987,0.192 C 11.487,0.415 9.883,0.77 8.34,2.274 7.149,1.301 5.67,0.581 3.916,0.201 Z m 9.34,1.857 C 12.316,3.996 12.243,5.966 11.788,7.331 11.730086,7.5060757 11.662993,7.6779804 11.587,7.846 11.257,6.124 10.527,4.589 9.434,3.334 10.408,2.371 11.296,2.052 12.328,1.857 Z M 4.525,1.944 C 8.14,3.052 10.012,5.706 10.236,9.333 9.782,9.561 9.204,9.696 8.426,9.696 7.381,9.696 6.696,9.454 6.19,9.066 5.683,8.679 5.323,8.109 5.064,7.329 4.616,5.981 4.539,4.046 4.525,1.944 Z M 1.893,14.02 h 13.04 l -0.774,3.648 H 2.675 Z m 1.11,5.178 h 10.831 l -1.355,6.387 H 4.372 Z"
    id="path1"></path><path
    style="fill:#ffd500;fill-opacity:1"
    d="m 3.003,19.198 h 10.831 l -1.355,6.387 H 4.372 Z"
    id="path1-3"></path><path
    style="fill:#005bbb;fill-opacity:1"
    d="m 1.893,14.02 h 13.04 l -0.774,3.648 H 2.675 Z"
    id="path1-3-6"></path>
  <path
    style="fill:currentColor"
    d="M 93.363,2.702 V 13.53 H 92.521 L 90.307,7.268 H 88.42 l 2.483,7.024 -2.937,7.985 h 1.887 l 2.657,-7.222 h 0.853 v 7.222 H 95.25 V 2.702 Z"
    id="path2"></path>
  <path
    style="fill:currentColor"
    d="m 83.444,7.142 c -2.44,0 -3.227,1.882 -3.2,4.965 l 1.834,-0.02 c 0.027,-1.6 0.223,-3.176 1.388,-3.188 1.166,-0.013 1.346,1.726 1.346,1.726 l 0.003,2.99 c 0,0 -5.147,-0.393 -5.14,4.881 -0.024,2.939 1.275,4.097 2.81,4.097 1.535,0 2.529,-1.776 2.529,-1.776 l 0.192,1.517 H 86.7 V 10.624 C 86.687,8.97 85.884,7.142 83.445,7.142 Z m 1.373,7.82 0.005,4.337 c 0,0 -0.787,1.147 -1.927,1.413 0,0 -1.254,0.292 -1.278,-2.714 -0.025,-3.006 3.2,-3.036 3.2,-3.036 z"
    id="path3"></path>
  <path
    style="fill:currentColor"
    d="m 74.832,7.142 a 3.33,3.33 0 0 0 -0.283,0.011 c -1.726,0.14 -2.546,1.685 -2.546,1.685 L 71.811,7.325 H 70.32 v 15.01 h 1.887 L 72.197,10.35 c 0,0 1.306,-1.478 2.18,-1.462 1.12,0.02 1.025,1.737 1.025,1.737 v 11.71 h 1.887 v -11.71 c 0,-1.682 -0.363,-2.442 -0.556,-2.742 -0.347,-0.538 -1.211,-0.738 -1.9,-0.74 z M 65.592,2.76 h 1.887 v 2.528 h -1.887 z m -0.061,4.565 h 1.887 v 15.01 H 65.531 Z M 60.936,2.76 h 1.887 v 2.528 h -1.887 z m 0.002,4.565 v 15.01 c 0,0 -0.166,1.088 -0.41,1.518 -0.246,0.43 -1.547,1.217 -1.547,1.217 l 0.61,1.772 c 0,0 0.513,-0.07 1.657,-0.967 1.71,-1.34 1.576,-3.54 1.576,-3.54 V 7.324 Z"
    id="path4"></path>
  <path
    style="fill:currentColor"
    d="m 53.066,2.76 h 1.887 l -1.3,2.528 h -1.479 z"
    id="path5"></path>
  <path
    style="fill:currentColor"
    d="m 51.934,7.325 h 1.887 v 15.01 h -1.887 z"
    id="path6"></path>
  <path
    style="fill:currentColor"
    d="M 45.718,3.994 V 7.325 H 44.15 V 8.85 h 1.567 v 10.154 c 0,0 -0.11,3.538 2.236,3.588 1.438,0.03 2.313,-0.257 2.313,-0.257 L 49.94,20.55 c 0,0 -1.47,0.336 -1.926,-0.026 -0.456,-0.362 -0.41,-1.52 -0.41,-1.52 V 8.849 h 2.392 V 7.325 h -2.392 v -3.33 z"
    id="path7"></path>
  <path
    style="fill:currentColor"
    d="m 41.547,2.76 h 1.887 l -1.3,2.528 h -1.479 z"
    id="path8"></path>
  <path
    style="fill:currentColor"
    d="m 40.415,7.325 h 1.887 v 15.01 h -1.887 z"
    id="path9"></path>
  <path
    style="fill:currentColor"
    d="m 31.12,7.325 2.805,15.01 h 2.064 L 38.793,7.325 H 36.906 L 34.956,17.757 33.007,7.325 Z"
    id="path10"></path>
  <path
    style="fill:currentColor"
    d="m 23.226,2.76 v 19.574 h 1.887 v -7.222 h 0.853 l 2.657,7.222 H 30.51 L 27.573,14.35 30.056,7.325 h -1.887 l -2.214,6.262 H 25.113 V 2.76 Z"
    id="path11"></path>
</svg>
