---
import { cloudinary } from "../../libs/cloudinary";
import ContractorLogo, { type Props as LogoProps } from "./PartnerLogo.astro";

const getPictureUrl = (name: string) =>
  cloudinary.url(`kviti/${name}`, {
    secure: true,
    transformation: [
      {
        crop: "pad",
        gravity: "center",
        height: 160,

        width: 160,
      },
      {
        format: "webp",
        quality: "auto",
      },
    ],
  });

const partners: LogoProps[] = [
  {
    partnerUrl: "https://marketilustrace.cz/",
    pictureUrl: getPictureUrl("logo-marketilustrace"),
    title: "Markét ilustrace",
  },
  {
    invert: true,
    partnerUrl: "https://www.kerastudio.cz/",
    pictureUrl: getPictureUrl("logo-kera"),
    title: "KERA Studio s.r.o.",
  },
  {
    partnerUrl: "https://www.sumavska-sklenenka.com/",
    pictureUrl: getPictureUrl("logo-sumavskasklenenka"),
    title: "Šumavská skleněnka",
  },
  {
    invert: true,
    partnerUrl: "https://www.vontreecandle.cz/",
    pictureUrl: getPictureUrl("logo-vontreecandle"),
    title: "Eva Vontrobová",
  },
  {
    invert: true,
    partnerUrl: "https://www.annacervenka.cz/",
    pictureUrl: getPictureUrl("logo-anna-cervenka"),
    title: "Anna Červenka",
  },
  {
    partnerUrl: "https://www.svickuj.cz/",
    pictureUrl: getPictureUrl("logo-svickuj"),
    title: "Svíčkuj",
  },
  {
    partnerUrl: "https://www.nasesojka.cz/",
    pictureUrl: getPictureUrl("logo-sojka"),
    title: "Sojka",
  },
  {
    partnerUrl: "https://www.stikaceramics.com/",
    pictureUrl: getPictureUrl("logo-stika"),
    title: "STIKA ceramics",
  },
  {
    invert: true,
    partnerUrl: "https://www.vcelarstvivaclav.cz/",
    pictureUrl: getPictureUrl("logo-vcelarstvivaclav"),
    title: "Včelařství Václav",
  },
];
---

<section class="bg-primary" id="contractors">
  <div class="container py-3">
    <p class="text-white text-center py-3 m-0">Můžete u nás najít mimojiné výrobky od našich partnerů:</p>

    <div class="flex flex-row flex-wrap justify-around items-center gap-4 text-center my-4">
      {partners.map((props) => <ContractorLogo {...props} />)}
    </div>

    <p class="text-white text-center lh-base fs-5 py-3 m-0">
      Pokud farmaříte nebo vyrábíte něco krásného a rádi byste nám dodávali Vaši tvorbu a rostliny, budeme rádi, když se
      nám ozvete. Třeba navážeme plodnou spolupráci a rozšíříte řady našich partnerů.
    </p>
  </div>
</section>
