---
export type Props = {
  invert?: boolean;
  partnerUrl: string;
  pictureUrl: string;
  size?: number;
  title: string;
};
const {
  invert = false,
  partnerUrl,
  pictureUrl,
  size = 160,
  title,
} = Astro.props;
---

<a href={partnerUrl} title={title} rel="noreferrer nofollow" target="_blank">
  <figure>
    <img
      alt={`Logo: ${title}`}
      height={size}
      src={pictureUrl}
      style={invert === true ? { filter: "invert(1)" } : undefined}
      width={size}
    />
    <figcaption class="text-sm font-light text-white italic">{title}</figcaption>
  </figure>
</a>
