---
import { createHash } from "node:crypto";
export type Props = {
  content: string;
};
const hash = createHash("sha256").update(Astro.props.content).digest("base64");
---

<div
  class="flex flex-row justify-center text-white text-center px-8 py-2 m-0 relative bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"
  data-hash={hash}
  id="ribbon"
  slot="header:before"
  style={{ display: "none" }}
>
  <div set:html={Astro.props.content} />
  <button class="absolute right-0 top-0 bottom-0 p-2 w-8" title="Zavřít" type="button">&otimes;</button>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    if (!localStorage) {
      console.debug("localStorage not supported");
      return;
    }
    try {
      const panel = document.querySelector<HTMLDivElement>("#ribbon");
      const button = document.querySelector<HTMLButtonElement>("#ribbon button");
      if (!panel || !button) throw new Error("Ribbon elements not found");

      const currentHash = panel.dataset.hash;
      if (!currentHash) throw new Error("Hash in ribbon not found");

      const lastClosedHash = localStorage.getItem("ribbon");
      if (lastClosedHash !== currentHash) {
        panel.style.display = "";
        button?.addEventListener("click", (event) => {
          localStorage.setItem("ribbon", currentHash);
          panel.style.display = "none";
          event.stopPropagation();
        });
      }
    } catch (error) {
      console.error(error);
    }
  });
</script>
