---
import Img from "./Img.astro";
---

<div class="scroll-anchor" id="services"></div>
<main class="bg-body">
  <div class="container text-center py-3">
    <div class="grid grid-cols-1 sm:grid-cols-2">
      <div class="p-4 mb-3 md:text-end slide-left">
        <h2>Sezónní kytice</h2>
        <p class="m-0">
          Snažíme se odebírat řezané květiny od lokálních farmářů, protože si vážíme české krajiny a všech lidí, jejichž
          živobytí se o její zdraví opírá. Ostatní květiny v naší nabídce pro vás zajišťujeme od evropských pěstitelů
          prostřednitvím úžasné holandské burzy květin.
        </p>
      </div>
      <div class="p-4 mb-3 md:text-start slide-right">
        <Img
          alt="Obrázek sezónní kytice"
          class="rounded inline"
          height={415}
          imageId="kviti/img-03.webp"
          srcset={[
            { transformations: { scale: 260 }, width: 260 },
            { transformations: { scale: 312 }, width: 312 },
          ]}
          sizes={["(max-width: 768px) 260px", "312px"]}
          src={{ scale: 312 }}
          width={312}
        />
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2">
      <div class="md:order-2 p-4 mb-3 md:text-start slide-right">
        <h2>Svatební floristika</h2>
        <p class="m-0">
          Vázání kytic pro nevěsty, korsáže pro ženichy a krásné pugety pro družičky si neskutečně užíváme, ať už jsou
          květinová aranžmá plná růží, nebo kopretin. Díky našim zkušenostem a vášni pro květiny vám vybereme vhodné
          květy, které obstojí i v náročných klimatických podmínkách. Povadlá nevěstina kytice zruinovala nejednu
          svatební fotografii. Navštivte nás a dejte nám příležitost být součástí vašeho nezapomenutelného dne!
        </p>
      </div>
      <div class="md:order-1 p-4 mb-3 md:text-end slide-left">
        <Img
          alt="Obrázek svatební kytice"
          class="rounded inline"
          height={364}
          imageId="kviti/img-18.webp"
          srcset={[
            { transformations: { scale: 260 }, width: 260 },
            { transformations: { scale: 312 }, width: 312 },
          ]}
          sizes={["(max-width: 768px) 260px", "312px"]}
          src={{ scale: 312 }}
          width={312}
        />
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2">
      <div class="p-4 mb-3 md:text-end slide-left">
        <h2>Vazba kytic</h2>
        <p class="m-0">
          I když se naše květinářství jmenuje kvítí jinak, některé věci jinak být nemůžou. Ať už se bavíme o
          neoddiskutovatelné kvalitě květin, které věnujeme nejvyšší péči, nebo o měkkých estetických pravidlech a
          zákonitostech, které je možno porušit, byť velmi opatrně.
        </p>
      </div>
      <div class="p-4 mb-3 md:text-start slide-right">
        <Img
          alt="Obrázek vázání kytice"
          class="rounded inline"
          height={468}
          imageId="kviti/img-17.webp"
          srcset={[
            { transformations: { scale: 260 }, width: 260 },
            { transformations: { scale: 312 }, width: 312 },
          ]}
          sizes={["(max-width: 768px) 260px", "312px"]}
          src={{ scale: 312 }}
          width={312}
        />
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2">
      <div class="md:order-2 p-4 mb-3 md:text-start slide-right">
        <h2>Pokojové rostliny</h2>
        <p class="m-0">
          Sanseviera, Euforbia, Pilea, Epiphyllum, Alocasia... nemyslete si, taky nám každá nejednou umřela. A proč?
          Protože nám v sámošce nikdo neřekl, jak se o kytku správně starat. A protože nám na "těch našich holkách"
          záleží, vyzbrojíme Vás znalostmi, než vám je svěříme domů.
        </p>
      </div>
      <div class="md:order-1 p-4 mb-3 md:text-end slide-left">
        <Img
          alt="Obrázek pokojové rostliny"
          class="rounded inline"
          height={468}
          imageId="kviti/img-16.webp"
          srcset={[
            { transformations: { scale: 260 }, width: 260 },
            { transformations: { scale: 312 }, width: 312 },
          ]}
          sizes={["(max-width: 768px) 260px", "312px"]}
          src={{ scale: 312 }}
          width={312}
        />
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2">
      <div class="p-4 mb-3 md:text-end slide-left">
        <h2>Kvítka nás baví</h2>
        <p class="m-0">
          Do kvítek jsme tak trochu blázni. Už naše babičky nám říkaly, že když kytky nemáme rádi, nějak to poznají a
          nebude se jim dařit. Kdo nezažil, nepochopí. Floristika a pokojovky je totiž životní styl a bez nadšení by to
          byla jen špína za nehty.
        </p>
      </div>
      <div class="p-4 mb-3 md:text-start slide-right">
        <Img
          alt="Obrázek Šárky ve skleníku"
          class="rounded inline"
          height={416}
          imageId="kviti/img-04.webp"
          srcset={[
            { transformations: { scale: 260 }, width: 260 },
            { transformations: { scale: 312 }, width: 312 },
          ]}
          sizes={["(max-width: 768px) 260px", "312px"]}
          src={{ scale: 312 }}
          width={312}
        />
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2">
      <div class="md:order-2 p-4 mb-3 md:text-start slide-right">
        <h2>Floristice rozumíme</h2>
        <p class="m-0">
          Jsme profíci a nenecháváme věci náhodě. Takže se školíme, sledujeme trendy, měříme, porovnáváme,
          experimentujeme, vymýšlíme a tvoříme. To vše aplikujeme do výběru řezaných květin i hrnkových rostlin. O
          květiny a pokojové rostliny se pak také dokážeme správně postarat, aby Vám zůstaly svěží a zdravé co nejdéle.
        </p>
      </div>
      <div class="md:order-1 p-4 mb-3 md:text-end slide-left">
        <Img
          alt="Obrázek Einstena s tchýniným jazykem"
          class="rounded inline"
          height={390}
          imageId="kviti/img-06.webp"
          srcset={[
            { transformations: { scale: 260 }, width: 260 },
            { transformations: { scale: 312 }, width: 312 },
          ]}
          sizes={["(max-width: 768px) 260px", "312px"]}
          src={{ scale: 312 }}
          width={312}
        />
      </div>
    </div>

    <p class="text-center text-lg py-6">
      Snad to pro Vás nebude nuda.<br />
      Protože tam, kde je nuda, ani tchýniny jazyky nerostou.
    </p>
  </div>
</main>

<style lang="scss">
  @keyframes slide-right-animation {
    from {
      transform: translateX(50vw);
    }
    to {
      transform: translateY(0);
    }
  }
  @keyframes slide-left-animation {
    from {
      transform: translateX(-50vw);
    }
    to {
      transform: translateY(0);
    }
  }

  .slide-left {
    will-change: transform;

    animation: slide-left-animation linear forwards;

    animation-timeline: view();
    animation-range: 0vh 30vh;
  }

  .slide-right {
    will-change: transform;

    animation: slide-right-animation linear forwards;

    animation-timeline: view();
    animation-range: 0vh 30vh;
  }

  .row:last-child > div {
    animation: none;
  }

  @media (prefers-reduced-motion) {
    [data-animation] {
      animation-duration: 0.01ms !important;
    }
  }
</style>
