---
import {
  TbBrandFacebook,
  TbBrandInstagram,
  TbBrandWhatsapp,
  TbMail,
  TbPhone,
} from "react-icons/tb";
import Logo from "../components/Logo.astro";
---

<footer class="bg-primary">
  <div class="container grid grid-cols-1 sm:grid-cols-2 gap-4 py-8 text-white">
    <div class="flex flex-row justify-center sm:justify-start items-center gap-4">
      <a
        aria-label="Instagram"
        href="https://www.instagram.com/kvitijinak"
        rel="nofollow noreferrer"
        target="_blank"
        title="Instagram"
      >
        <TbBrandInstagram size={28} />
      </a>
      <a
        aria-label="Facebook"
        href="https://www.facebook.com/kvitijinak"
        rel="nofollow noreferrer"
        target="_blank"
        title="Facebook"
      >
        <TbBrandFacebook size={28} />
      </a>
      <a
        aria-label="WhatsApp"
        href="https://wa.me/420602965954?text=Dobrý%20den.%20Prosím%20o%20navázání%20kytice"
        rel="nofollow noreferrer"
        target="_blank"
        title="WhatsApp"
      >
        <TbBrandWhatsapp size={28} />
      </a>
      <a aria-label="Telefon" href="tel:+420602965954" rel="nofollow noreferrer" target="_blank" title="Telefon">
        <TbPhone size={28} />
      </a>
      <a aria-label="E-mail" href="mailto:info@kviti-jinak.cz" rel="nofollow noreferrer" target="_blank" title="E-mail">
        <TbMail size={28} />
      </a>
    </div>

    <div class="flex flex-row justify-center sm:justify-end items-center gap-4">
      <a
        class="justify-self-center sm:justify-self-end py-4 sm:py-0"
        href="https://kviti-jinak.cz"
        aria-label="Kvítí jinak"
      >
        <Logo height={40} width={140} />
      </a>
    </div>

    <ul class="text-center sm:text-start">
      <li><a href="/documents/reklamacni-rad.pdf" target="_blank">Reklamační řád</a></li>
      <li>
        <a href="/zasady-ochrany-osobnich-udaju">Zásady zpracování osobních údajů</a>
      </li>
      <li>Zatím se bez Cookies obejdeme.</li>
    </ul>

    <div class="text-center sm:text-end">
      Design a vývoj:
      <a href="https://gitlab.com/jerry-atom/" title="Odkaz na autora" rel="nofollow noreferrer" target="_blank"
        >Jaroslav Novotný</a
      >.
      <br />
      Všechna práva vyhrazena.
    </div>
  </div>
</footer>
