---
import { ActiveMenu } from "@components/ActiveMenu";
import { TbMenu2, TbUser, TbX } from "react-icons/tb";
import { path } from "../../libs/routes";
import HeaderMenuLink from "../components/HeaderMenuLink.astro";
import Logo from "../components/Logo.astro";

export type Props = {
  transparent?: boolean;
};

const { transparent } = Astro.props;
---

<div class="container flex flex-row flex-wrap content-center justify-between px-0 sm:px-3" role="navigation">
  <a class="flex flex-row flex-wrap content-center px-3 py-3" href={`${path({ to: "/" })}#doma`}>
    <span class="sr-only">Domů</span>
    <Logo class="block" width={126.02} height={36} />
  </a>

  <div class="hidden sm:flex flex-row content-stretch">
    <HeaderMenuLink href={path({ to: "/clanky" })} text="Články" />
    <HeaderMenuLink href={`${path({ to: "/kontakt" })}`} text="Kontakt" />
    <HeaderMenuLink href={`${path({ to: "/o-nas" })}`} text="O nás" />
  </div>

  <div class="flex flex-row items-stretch">
    {
      transparent ? (
        <a
          class="flex flex-row items-center cursor-pointer px-2 hover:backdrop-brightness-150"
          href={path({ to: "/ucet" })}
          title="Profil"
        >
          <TbUser size={28} />
        </a>
      ) : (
        <div class="relative flex">
          <button
            class="cursor-pointer px-2 hover:backdrop-brightness-150"
            id="profile-show"
            title="Profil"
            type="button"
          >
            <span class="sr-only">Profil</span>
            <TbUser size={28} />
          </button>

          <div
            class="absolute right-0 top-full rounded-b-lg z-50 bg-primary shadow-sm shadow-black/75"
            id="profile"
            style="display: none;"
          >
            <ActiveMenu client:only="react" />
          </div>
        </div>
      )
    }

    <button class="sm:hidden cursor-pointer px-2" id="menu-show" title="Navigace" type="button">
      <span class="sr-only">Navigace</span>
      <TbMenu2 size={28} />
    </button>
  </div>
</div>

<div class="sm:hidden absolute inset-0 z-50 bg-body" id="menu" style="display: none;">
  <div class="flex flex-row justify-end h-[var(--menu-height)] border-b border-secondary-medium">
    <button class="cursor-pointer content-center px-2" id="menu-hide" title="Zavřít" type="button">
      <span class="sr-only">Zavřít</span>
      <TbX size={28} />
    </button>
  </div>
  <div class="h-[calc(100dvh-var(--menu-height)-1px)] overflow-y-auto">
    <div class="text-end">
      <a class="block px-3 py-2" href={`${path({ to: "/" })}#doma`}>Domů</a>
      <a class="block px-3 py-2" href={path({ to: "/clanky" })}>Články</a>
      <a class="block px-3 py-2" href={`${path({ to: "/kontakt" })}`}>Kontakt</a>
      <a class="block px-3 py-2" href={`${path({ to: "/o-nas" })}`}>O nás</a>
    </div>
  </div>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const $menu = document.querySelector<HTMLDivElement>("div#menu");
    const $menuHideBtn = document.querySelector<HTMLButtonElement>("button#menu-hide");
    const $menuShowBtn = document.querySelector<HTMLButtonElement>("button#menu-show");
    const $profile = document.querySelector<HTMLDivElement>("div#profile");
    const $profileShowBtn = document.querySelector<HTMLButtonElement>("button#profile-show");
    let currentTarget: HTMLDivElement | null = null;

    const show = (target: HTMLDivElement): void => {
      if (currentTarget && currentTarget.id != target.id) {
        currentTarget.style.display = "none";
      }
      target.style.display = "";
      currentTarget = target;
    };
    const hideAll = (): void => {
      if ($menu) {
        $menu.style.display = "none";
      }
      if ($profile) {
        $profile.style.display = "none";
      }
      currentTarget = null;
    };
    const toggle = (target: HTMLDivElement): void => {
      if (currentTarget?.id === target.id) {
        hideAll();
      } else {
        show(target);
      }
    };

    document.addEventListener("click", () => {
      hideAll();
    });
    $menuShowBtn?.addEventListener("click", (event) => {
      event.stopPropagation();
      $menu && toggle($menu);
    });
    $menuHideBtn?.addEventListener("click", (event) => {
      event.stopPropagation();
      hideAll();
    });
    $profileShowBtn?.addEventListener("click", (event) => {
      event.stopPropagation();
      $profile && toggle($profile);
    });
  });
</script>
