:root {
  --menu-height: 3.75rem;
  --theme-color-primary: hsl(72.86 8% 35%);
}

html {
  @apply text-base md:text-base;
}

body {
  @apply bg-body font-normal leading-relaxed overflow-x-hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary font-bold;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}
