---
import { Breadcrumbs } from "@components/Breadcrumbs";
import BaseLayout from "@layouts/BaseLayout.astro";
import { AttendanceReportPage } from "@layouts/pages/work-shifts/AttendanceReportPage";

const title = "Docházka";
---

<BaseLayout>
  <Breadcrumbs
    breadcrumbs={[
      { label: "Můj účet", to: "/ucet" },
      { label: title, to: "/ucet/smeny" },
    ]}
  />

  <main class="container flex-grow my-6">
    <h1 class="text-center">{title}</h1>

    <AttendanceReportPage client:only="react" />
  </main>
</BaseLayout>
