---
import { Breadcrumbs } from "@components/Breadcrumbs";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Dashboard } from "@layouts/pages/dashboard/Dashboard";

const title = "Můj účet";
---

<BaseLayout {title}>
  <Breadcrumbs breadcrumbs={[{ label: title, to: "/ucet" }]} />

  <main class="container flex-grow my-6">
    <h1 class="text-center">{title}</h1>

    <Dashboard client:only="react" />
  </main>
</BaseLayout>
