---
import { Breadcrumbs } from "@components/Breadcrumbs";
import BaseLayout from "@layouts/BaseLayout.astro";
import { SignOutPage } from "@layouts/pages/sign-out/SignOutPage";

const title = "Odhlášení";
---

<BaseLayout {title}>
  <Breadcrumbs
    breadcrumbs={[
      { label: "Můj účet", to: "/ucet" },
      { label: title, to: "/ucet/odhlaseni" },
    ]}
  />

  <main class="container flex-grow my-6">
    <h1 class="text-center">{title}</h1>

    <div class="w-full sm:max-w-sm sm:mx-auto my-6">
      <SignOutPage client:only="react" />
    </div>
  </main>
</BaseLayout>
