---
import { Breadcrumbs } from "@components/Breadcrumbs";
import BaseLayout from "@layouts/BaseLayout.astro";
import { PunchClockPage } from "@layouts/pages/work-shifts/PunchClockPage";

const title = "Píchačky";
---

<BaseLayout {title}>
  <Breadcrumbs
    breadcrumbs={[
      { label: "Můj účet", to: "/ucet" },
      { label: title, to: "/ucet/pichacky" },
    ]}
  />

  <main class="container flex-grow my-6">
    <h1 class="text-center">{title}</h1>

    <div class="w-full sm:max-w-sm mx-auto my-6">
      <PunchClockPage client:only="react" />
    </div>
  </main>
</BaseLayout>
