---
import { Breadcrumbs } from "@components/Breadcrumbs";
import BaseLayout from "@layouts/BaseLayout.astro";
import { WorkshiftsPage } from "@layouts/pages/work-shifts/WorkshiftsPage";

const title = "Směny";
---

<BaseLayout {title}>
  <Breadcrumbs
    breadcrumbs={[
      { label: "Můj účet", to: "/ucet" },
      { label: title, to: "/ucet/smeny" },
    ]}
  />

  <main class="container flex-grow my-6">
    <h1 class="text-center">{title}</h1>

    <WorkshiftsPage client:only="react" />
  </main>
</BaseLayout>
