---
import { Breadcrumbs } from "@components/Breadcrumbs";
import BaseLayout from "@layouts/BaseLayout.astro";
import { PasswordChangePage } from "@layouts/pages/password-change/PasswordChangePage";

const title = "Změna hesla";
---

<BaseLayout {title}>
  <Breadcrumbs
    breadcrumbs={[
      { label: "Můj účet", to: "/ucet" },
      { label: title, to: "/ucet/zmena-hesla" },
    ]}
  />

  <main class="container flex-grow my-6">
    <h1 class="text-center">{title}</h1>

    <div class="w-full sm:max-w-sm sm:mx-auto my-6">
      <PasswordChangePage client:only="react" />
    </div>
  </main>
</BaseLayout>
