---
import BaseLayout from "@layouts/BaseLayout.astro";
import CallbackPage from "@layouts/pages/callback/CallbackPage";

const title = "Přihlašování";
---

<BaseLayout {title}>
  <h1 class="text-center mb-6">{title}</h1>

  <CallbackPage client:only="react" />
</BaseLayout>
