---
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Logo from "@layouts/components/Logo.astro";
import ContractorsSection from "@layouts/components/PartnersSection.astro";
import Ribbon from "@layouts/components/Ribbon.astro";
import ServicesSection from "@layouts/components/ServicesSection.astro";
import { cloudinary } from "../libs/cloudinary";
import { buildOpeningHoursSpecification } from "../services/business-hours";

const getMainImage = (width: number) =>
  cloudinary.url("kviti/img-05.webp", {
    secure: true,
    transformation: [
      {
        crop: "scale",
        height: 915,
        quality: "auto",
      },
      {
        crop: "crop",
        gravity: "center",
        height: 915,
        width,
      },
    ],
  });

// const homepageMessage = await getEntry("contentNodes", "homepageMessage");
const ribbon = await getEntry("contentNodes", "ribbon");
const businessHours = await getCollection("businessHours");
const openingHoursSpecification = buildOpeningHoursSpecification(
  businessHours.map((x) => x.data),
);

const schema = JSON.stringify({
  "@context": "http://schema.org",
  "@graph": [
    {
      "@type": "ImageObject",
      "@id": "#logo",
      url: `${Astro.site}images/logo.png`,
      contentUrl: `${Astro.site}images/logo.png`,
      caption: "Kvítí jinak - květinářství Přerov",
      inLanguage: "cs",
      name: "Logo Květinářství Kvítí jinak",
      height: "146",
      width: "512",
    },
    {
      "@type": "ImageObject",
      "@id": "#author-avatar",
      url: "https://www.gravatar.com/avatar/8f439df2da456dc3c329795ab2b917b4",
      contentUrl:
        "https://www.gravatar.com/avatar/8f439df2da456dc3c329795ab2b917b4",
      caption: "Provozovatel kvítí jinak a autor stránek",
      inLanguage: "cs",
      width: "80",
      height: "80",
    },
    {
      "@type": "PostalAddress",
      "@id": "#store-address",
      addressLocality: "Přerov",
      postalCode: "75002",
      addressCountry: "CZ",
      streetAddress: "Wilsonova ul. 155/10",
    },
    {
      "@type": "WebSite",
      "@id": "#website",
      url: Astro.site,
      name: "Kvítí jinak - květinářství Přerov",
      datePublished: "2023-03-04",
      dateModified: new Date().toISOString().substring(0, 10),
      inLanguage: "cs",
      breadcrumb: {
        "@type": "BreadcrumbList",
        itemListElement: [
          {
            "@type": "ListItem",
            position: 1,
            name: "Domů",
            item: Astro.site,
          },
          {
            "@type": "ListItem",
            position: 2,
            name: "Kontakt",
            item: `${Astro.site}kontakt`,
          },
          {
            "@type": "ListItem",
            position: 3,
            name: "Články",
            item: `${Astro.site}clanky`,
          },
        ],
      },
    },
    {
      "@type": "Person",
      "@id": "#author",
      name: "Jaroslav Novotný",
      image: {
        "@id": "#author-avatar",
      },
      worksFor: {
        "@id": "#organization",
      },
    },
    {
      "@type": "Florist",
      name: "Kvítí jinak - květinářství Přerov",
      description: "Květinářství v Přerově na Wilsonově ulici",
      url: Astro.site,
      logo: {
        "@id": "#logo",
      },
      image: {
        "@id": "#store-image",
      },
      telephone: "+420 602 965 954",
      priceRange: "$$",
      address: {
        "@id": "#store-address",
      },
      geo: {
        "@type": "GeoCoordinates",
        latitude: 49.4542742,
        longitude: 17.4510983,
      },
      contactPoint: {
        "@type": "ContactPoint",
        contactType: "customer support",
        telephone: "+420 602 965 954",
        email: "info@kviti-jinak.cz",
        availableLanguage: ["Czech", "English", "Ukrainian"],
      },
      sameAs: [
        "https://www.facebook.com/kviti-jinak/",
        "https://www.instagram.com/kvitijinak/",
      ],
      openingHoursSpecification,
    },
    {
      "@type": "ImageObject",
      "@id": "#store-image",
      name: "Prodejna",
      url: `${Astro.site}images/prodejna.jpg`,
      contentUrl: `${Astro.site}images/prodejna.jpg`,
      width: "1280",
      height: "720",
      caption: "Pohled do prodejny od vchodu",
      inLanguage: "cs",
    },
  ],
});
---

<BaseLayout transparentHeader>
  <meta slot="head" property="og:title" content="Kvítí jinak - květinářství Přerov" />
  <meta slot="head" property="og:description" content="Stylové květinářství v Přerově na Wilsonově ulici." />
  <meta slot="head" property="og:type" content="website" />
  <meta slot="head" property="og:url" content={Astro.site} />
  <meta
    slot="head"
    property="og:image"
    content="https://res.cloudinary.com/dk1shqmyz/image/upload/w_1200,h_630,c_fill,g_auto/v1735372772/kviti/kviti-tobi-01.jpg"
  />
  <meta slot="head" property="og:image:alt" content="Kvítí Jinak - květinářství Přerov" />
  <meta slot="head" property="og:site_name" content="Kvítí Jinak" />
  <meta slot="head" property="og:logo" content={Astro.site + "images/logo.png"} />

  <div id="doma" slot="header:before"></div>

  {
    ribbon && ribbon.data?.type === "text" && ribbon.data.value.length > 0 && (
      <Ribbon slot="header:before" content={ribbon.data.value} />
    )
  }

  <section class="flex overflow-hidden select-none h-dvh w-dvw relative">
    <img
      class="object-cover absolute left-0 top-0 w-full h-full object-top"
      srcset={`
        ${getMainImage(480)} 480w,
        ${getMainImage(576)} 576w,
        ${getMainImage(768)} 768w,
        ${getMainImage(992)} 992w,
        ${getMainImage(1200)} 1200w,
        ${getMainImage(1400)} 1400w
      `}
      alt="Pozadí s pohledem na pracovní desku s květinami"
    />
    <div class="absolute left-1/2 transform -translate-x-1/2">
      <h1 class="pt-40">
        <span class="sr-only">Kvítí jinak</span>
        <Logo class="home-logo block mx-auto watch protect" data-animation="slide-down" height={103} width={260} />
      </h1>
      <p class="fs-2 text-center pt-2 watch" data-animation="slide-up">&dash; květinářství v Přerově &dash;</p>
    </div>
  </section>

  {
    /*
    homepageMessage && homepageMessage.data.type === "text" && (
      <section id="messages">
        <div class="container py-3" set:html={homepageMessage.data.value} />
      </section>
    )
  */
  }

  <ServicesSection />

  <ContractorsSection />
</BaseLayout>

<script is:inline type="application/ld+json" set:html={schema} />

<script>
  type VisibilityHandler = (isVisible: boolean, target: Element) => void;

  window.addEventListener(
    "astro:page-load",
    () => {
      const visibilityHandler: VisibilityHandler = (isVisible, target) => {
        const animationClass = (target as HTMLElement).dataset.animation;
        if (isVisible && animationClass && !target.classList.contains(animationClass)) {
          target.classList.add(animationClass);
        }
      };

      const createVisibilityObserver = (element: HTMLElement, callback: VisibilityHandler): void => {
        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              callback(entry.isIntersecting, entry.target);
            });
          },
          {
            root: null,
          }
        );
        observer.observe(element);
      };

      document.querySelectorAll<HTMLElement>(".watch[data-animation]").forEach((element) => {
        createVisibilityObserver(element, visibilityHandler);
      });

      document.querySelectorAll<HTMLElement>(".protect").forEach((element) => {
        element.oncontextmenu = (event) => {
          event.preventDefault();
        };
      });
    },
    { once: true }
  );
</script>

<style lang="scss">
  .home-spacing {
    height: calc(2 * var(--menu-height));
  }
  .home-logo {
    width: min(80vw, 360px);
  }

  #messages {
    background-color: darkorange;

    p {
      font-size: 1.5rem;
      text-align: center;
      padding: 1rem;
      margin: 0;
      line-height: 1.5;
    }

    ul.links {
      display: flex;
      flex-direction: row;
      order: 1;
      list-style: none;
      padding: 0;
      justify-content: center;
      gap: 1rem;

      a {
        display: flex;
        flex-direction: column;
      }
      svg path {
        stroke: black;
      }
    }
  }

  .scroll-anchor {
    position: relative;
    top: calc(-1 * --menu-height);
  }

  @keyframes slideDownAnimation {
    from {
      transform: translateY(-7rem);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slideUpAnimation {
    from {
      transform: translateY(7rem);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  [data-animation="slide-up"] {
    will-change: transform, opacity;

    animation: slideUpAnimation ease 0.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  [data-animation="slide-down"] {
    will-change: transform, opacity;

    animation: slideDownAnimation ease 0.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @media (prefers-reduced-motion) {
    [data-animation] {
      animation-duration: 0.01ms !important;
    }
  }
</style>
