---
import { getCollection } from "astro:content";
import { Breadcrumbs } from "../components/Breadcrumbs";
import BaseLayout from "../layouts/BaseLayout.astro";
import BusinessHoursComponent from "../layouts/components/BusinessHours.astro";

const title = "Kontakt";
const businessHours = await getCollection("businessHours");
---

<BaseLayout {title}>
  <Breadcrumbs breadcrumbs={[{ label: title, to: "/kontakt" }]} />

  <main class="container container-sm flex-grow mt-6 mb-9">
    <h1 class="text-center">{title}</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 my-6">
      <div class="rounded-md border-2 border-primary-light p-4">
        <h2 class="block text-3xl mb-3">Otevírací doba</h2>
        <BusinessHoursComponent businessHours={businessHours.map((x) => x.data)} />
      </div>

      <div class="rounded-md border-2 border-primary-light p-4">
        <h2 class="block text-3xl mb-3">Provozovatel</h2>
        <p>
          Jaroslav Novotný<br />
          IČ: 17644623<br />
          <i>Fyzická osoba podnikající dle živnostenského zákona od 17.10.2022.</i><br />
          Datová schránka: k8u9er
        </p>
      </div>

      <div class="rounded-md border-2 border-primary-light p-4">
        <h2 class="block text-3xl mb-3">Povozovna</h2>
        <p class="text-base">
          <a
            href="https://www.openstreetmap.org/?mlat=49.45421&mlon=17.45070#map=19/49.45421/17.45070"
            title="Odkaz na velkou mapu">Wilsonova 155/10, 75002 Přerov</a
          ><br />
          <i>GPS:</i>&nbsp;
          <a href="geo:49.4542778,17.4510639" title="GPS souřadnice" rel="nofollow noreferrer" target="_blank">
            49.4542778N,&nbsp;17.4510639E
          </a>
        </p>
      </div>

      <div class="rounded-md border-2 border-primary-light p-4">
        <h2 class="block text-3xl mb-3">Jak nás kontaktovat</h2>
        <p>
          <i>můžete volat:</i>&nbsp;
          <a href="tel:+420602965954" title="Otevře telefon s naším číslem">602&nbsp;965&nbsp;954</a><br />
          <i>můžete psát:</i>&nbsp;
          <a href="mailto:info@kviti-jinak.cz" title="Otevře nový e-mail">info@kviti-jinak.cz</a><br />
          <i>anebo přijďte k nám na prodejnu</i>
        </p>
      </div>

      <div class="col-span-full rounded-md border-2 border-primary-light p-4">
        <iframe
          class="w-full"
          height={600}
          title="Mapa s umístěním prodejny"
          loading="lazy"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2593.6036889995235!2d17.44617499291108!3d49.45420699772572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4713aea2902f7f1d%3A0x1085fe26668f91f1!2zV2lsc29ub3ZhIDE1NS8xMCwgUMWZZXJvdiBJLU3Em3N0bywgNzUwIDAyIFDFmWVyb3Y!5e0!3m2!1scs!2scz!4v1683552985434!5m2!1scs!2scz"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
    </div>
  </main>
</BaseLayout>
