---
import { Breadcrumbs } from "@components/Breadcrumbs";
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "O nás";
---

<BaseLayout {title}>
  <Breadcrumbs breadcrumbs={[{ label: title, to: "/o-nas" }]} />

  <main class="container flex-grow my-6">
    <h1 class="text-center mb-9">{title}</h1>
    <div class="list">
      (makáme na tom)
      {
        /*
      <section class="item">
        <img
          class="h-1/3 aspect-square rounded-full mx-auto my-6"
          src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt=""
        />
        <h2 class="text-center">Šárka</h2>
        <p></p>
      </section>
      <section class="item">
        <img
          class="h-1/3 aspect-square rounded-full mx-auto my-6"
          src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt=""
        />
        <h2 class="text-center">Daryna</h2>
        <p></p>
      </section>
      <section class="item">
        <img
          class="h-1/3 aspect-square rounded-full mx-auto my-6"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt=""
        />
        <h2 class="text-center">Jarek</h2>
        <p></p>
      </section>
    */
      }
    </div>
  </main>
</BaseLayout>
<style>
  .list {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .item {
    @apply bg-primary-light p-5 rounded-md shadow-md;
  }
  @media (min-width: 1024px) {
    .list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    .item {
      grid-column: span 2;
    }
    .item:last-child:nth-child(2n-1) {
      grid-column-end: -2;
    }
  }
</style>
