---
import { Breadcrumbs } from "@components/Breadcrumbs";
import BaseLayout from "@layouts/BaseLayout.astro";
import { path } from "../libs/routes";

const title = "Obchodní podmínky";
---

<BaseLayout {title}>
  <Breadcrumbs breadcrumbs={[{ label: title, to: "/obchodni-podminky" }]} />

  <main class="container flex-grow space-y-6 mt-6 mb-9">
    <article class="prose prose-neutral lg:prose-lg mx-auto">
      <header>
        <h1 class="text-center">Obchodní podmínky</h1>
      </header>
      <section>
        <h2>I. Základní ustanovení</h2>
        <p>
          Tyto všeobecné obchodní podmínky (dále jen „obchodní podmínky“) jsou vydány v souladu s ustanovením § 1751 a
          násl. zákona č. 89/2012 Sb., občanský zákoník (dále jen „občanský zákoník“).
        </p>
        <p>Tyto obchodní podmínky upravují práva a povinnosti mezi:</p>
        <ul>
          <li>
            <strong>Prodávajícím:</strong><br />
            Jaroslav Novotný<br />
            IČ: 17644623<br />
            Fyzická osoba podnikající dle živnostenského zákona od 17.10.2022.<br />
            datová schránka: k8u9er<br />
            email: info@kviti-jinak.cz<br />
            telefon: +420 602 965 954<br />
            web: www.kviti-jinak.cz<br />
          </li>
          <li>
            <strong>Kupujícím:</strong> Fyzickou osobou, která uzavírá kupní smlouvu mimo svoji podnikatelskou činnost jako
            spotřebitel, nebo osobou, která jedná v rámci své podnikatelské činnosti (dále jen „kupující“). V případě, že
            kupující jedná v rámci své podnikatelské činnosti, platí pro něj odlišné podmínky ohledně záruky a práva na odstoupení
            od smlouvy.
          </li>
        </ul>
        <p>
          Tyto obchodní podmínky jsou nedílnou součástí kupní smlouvy. V případě odchylných ujednání v kupní smlouvě
          mají tato ujednání přednost před ustanoveními obchodních podmínek.
        </p>
        <p>Kupní smlouva a obchodní podmínky se uzavírají v českém jazyce.</p>
      </section>
      <section>
        <h2>II. Informace o zboží a cenách</h2>
        <ul>
          <li>
            Informace o zboží, jeho vlastnostech, cenách a souvisejících nákladech jsou uvedeny u jednotlivých produktů
            v katalogu internetového obchodu. Uvedené ceny zahrnují všechny daně a poplatky, včetně DPH a nákladů na
            recyklaci, pokud je to relevantní. Ceny jsou platné po dobu, kdy jsou zobrazeny v internetovém obchodě.
          </li>
          <li>
            Veškerá prezentace zboží na webu je informativního charakteru a není závaznou nabídkou ve smyslu § 1732
            odst. 2 občanského zákoníku. Prodávající není povinen uzavřít kupní smlouvu ohledně prezentovaného zboží.
            Kupní smlouva je definitivně uzavřena až po potvrzení objednávky prodávajícím.
          </li>
          <li>
            Náklady na balení a dodání zboží jsou uvedeny v internetovém obchodě a platí pouze pro doručování v rámci
            České republiky. Pokud je doručování do zahraničí, jsou náklady kalkulovány individuálně.
          </li>
          <li>Slevy z kupní ceny zboží nelze kombinovat, pokud není výslovně uvedeno jinak.</li>
        </ul>
      </section>
      <section>
        <h2>III. Objednávka a uzavření kupní smlouvy</h2>
        <ul>
          <li>
            Kupující provádí objednávku prostřednictvím formuláře na webu bez nutnosti registrace. Před odesláním
            objednávky je kupujícímu umožněno zkontrolovat a změnit zadané údaje.
          </li>
          <li>
            Kupní smlouva je uzavřena potvrzením objednávky prodávajícím, které je odesláno na emailovou adresu
            kupujícího. Potvrzení objednávky musí obsahovat konkrétní údaje o objednaném zboží, ceně a podmínkách
            dodání. Pokud dojde ke zjevné chybě v ceně zboží (např. cena neodpovídající obvyklé hodnotě), má prodávající
            právo kupní smlouvu neuzavřít. O této skutečnosti bude kupující informován bez zbytečného odkladu.
          </li>
          <li>
            Prodávající archivuje kupní smlouvu a její aktuální znění v elektronické podobě. Kupující má právo si
            podmínky stáhnout nebo o ně požádat prodávajícího.
          </li>
        </ul>
      </section>
      <section>
        <h2>IV. Platební podmínky a dodání zboží</h2>
        <ul>
          <li>
            Kupující může cenu zboží uhradit:
            <ul>
              <li>bezhotovostně platební kartou,</li>
              <li>převodem na účet prostřednictvím platební brány.</li>
            </ul>
          </li>
          <li>
            Kupní cena je splněna okamžikem připsání částky na účet prodávajícího. Prodávající vystaví kupujícímu daňový
            doklad, který zašle elektronicky.
          </li>
          <li>
            Zboží je dodáváno:
            <ul>
              <li>na adresu uvedenou v objednávce,</li>
              <li>osobním odběrem na adrese provozovny.</li>
            </ul>
          </li>
          <li>
            Kupující je povinen převzít zboží při dodání. Pokud dojde k opakovanému doručování z důvodů na straně
            kupujícího, nese kupující dodatečné náklady. Pokud kupující odmítne převzetí zboží z důvodu poškození,
            prodávající zajistí nápravu a opětovné doručení bez zbytečného odkladu.
          </li>
          <li>
            Při převzetí zboží je kupující povinen zkontrolovat stav zásilky. V případě poškození obalu nebo zásilky
            může kupující zásilku odmítnout převzít.
          </li>
        </ul>
      </section>
      <section>
        <h2>V. Odstoupení od smlouvy</h2>
        <ul>
          <li>
            Kupující má právo odstoupit od smlouvy do 14 dnů od převzetí zboží bez udání důvodu. Prodávající je povinen
            kupujícího poučit o právu na odstoupení, včetně podmínek, lhůt a způsobu odstoupení, aby byly splněny
            požadavky zákona.
          </li>
          <li>
            Kupující musí prodávajícímu oznámit odstoupení od smlouvy a vrátit zboží na adresu prodávajícího do 14 dnů
            od odstoupení. Náklady na vrácení zboží hradí kupující.
          </li>
          <li>Prodávající vrátí přijaté peněžní prostředky do 14 dnů od obdrženého vráceného zboží.</li>
          <li>
            Kupující může využít vzorový <a href="/documents/odstoupeni-od-smlouvy-formular.odt"
              >formulář k odstoupení od smlouvy</a
            >, který je dostupný na webových stránkách. Vyplněný zašlete na e-mail společnosti, nebo poštou na adresu
            sídla společnosti.
          </li>
          <li>
            Kupující nemá právo odstoupit od smlouvy v případech uvedených v § 1837 občanského zákoníku, např. u zboží
            na míru, u zboží podléhajícího rychlé zkáze, nebo u zboží, které bylo po dodání nevratně smícháno s jiným
            zbožím.
          </li>
        </ul>
      </section>
      <section>
        <h2>VI. Práva z vadného plnění</h2>
        <ul>
          <li>
            Prodávající odpovídá za vady zboží podle § 1914 a násl. občanského zákoníku. Kupující má právo na:
            <ul>
              <li>výměnu nebo opravu vadného zboží,</li>
              <li>přiměřenou slevu,</li>
              <li>odstoupení od smlouvy při podstatné vadě.</li>
            </ul>
          </li>
          <li>Reklamace musí být vyřízena nejpozději do 30 dnů od uplatnění, pokud se strany nedohodnou jinak.</li>
          <li>Kupující má právo na úhradu účelně vynaložených nákladů spojených s reklamací.</li>
        </ul>
      </section>
      <section>
        <h2>VII. Ochrana osobních údajů</h2>
        <ul>
          <li>
            Prodávající zpracovává osobní údaje kupujícího v souladu s GDPR. Podrobnosti o zpracování osobních údajů
            jsou uvedeny v <a href={path({ to: "/zasady-ochrany-osobnich-udaju" })}>Zásadách ochrany osobních údajů</a> na
            webových stránkách. Prodávající zpracovává osobní údaje za účelem plnění smlouvy, vedení účetnictví, a pro marketingové
            účely na základě oprávněného zájmu. Osobní údaje jsou uchovávány po dobu nezbytně nutnou pro naplnění uvedených
            účelů.
          </li>
          <li>Kupující má právo požadovat přístup k osobním údajům, jejich opravu, výmaz nebo omezení zpracování.</li>
        </ul>
      </section>
      <section>
        <h2>VIII. Mimosoudní řešení sporů</h2>
        <ul>
          <li>
            Kupující má právo využít mimosoudní řešení sporů prostřednictvím České obchodní inspekce nebo platformy ODR
            (<a href="https://ec.europa.eu/consumers/odr" target="_blank">https://ec.europa.eu/consumers/odr</a>).
            Mimosoudní řešení sporů je dobrovolné a kupující může nadále uplatňovat své nároky u soudu, pokud nebude
            spokojen s výsledkem mimosoudního řešení.
          </li>
          <li>
            Kontaktní místo pro mimosoudní řešení sporů je Evropské spotřebitelské centrum Česká republika (<a
              href="https://www.evropskyspotrebitel.cz"
              target="_blank">www.evropskyspotrebitel.cz</a
            >).
          </li>
        </ul>
      </section>
    </article>
  </main>
</BaseLayout>
