---
import BaseLayout from "@layouts/BaseLayout.astro";
import { VerifyAccountPage } from "@layouts/pages/verify-account/VerifyAccountPage";

const title = "Ověření registrace";
---

<BaseLayout {title}>
  <main class="px-3 mx-auto my-6 max-w-md flex-grow">
    <h1 class="text-center mb-6">{title}</h1>
    <VerifyAccountPage client:only="react" />
  </main>
</BaseLayout>
