---
import BaseLayout from "@layouts/BaseLayout.astro";
import { SignInPage } from "@layouts/pages/sign-in/SignInPage";
import { path } from "../libs/routes";

const title = "Přihlášení";
---

<BaseLayout {title}>
  <main class="px-3 mx-auto my-6 max-w-md flex-grow">
    <h1 class="text-center mb-6">{title}</h1>

    <SignInPage client:only="react" />

    <hr class="my-6" />
    <p class="text-center">
      Nemůžete si vzpomenout na heslo?{" "}
      <a class="link-primary" href={path({ to: "/zapomenute-heslo" })}> Požádat o reset hesla </a>
    </p>
    <p class="text-center mb-9">
      Ještě u nás nejste registrovaní?{" "}
      <a class="link-primary" href={path({ to: "/registrace" })}> Registrujte se </a>
    </p>
  </main>
</BaseLayout>
