---
import BaseLayout from "@layouts/BaseLayout.astro";
import { RegistrationPage } from "@layouts/pages/registration/RegistrationPage";
import { path } from "../libs/routes";

const title = "Založení účtu";
---

<BaseLayout {title}>
  <main class="px-3 mx-auto my-6 max-w-md flex-grow">
    <h1 class="text-center mb-6">{title}</h1>

    <RegistrationPage client:only="react" />

    <hr class="my-6" />

    <p class="text-center mb-9">
      Už jste u nás registrovaní?{" "}
      <a class="link-primary" href={path({ to: "/prihlaseni" })}> Přihlaste se </a>
    </p>
  </main>
</BaseLayout>
