---
import BaseLayout from "@layouts/BaseLayout.astro";
import { PasswordResetPage } from "@layouts/pages/password-reset/PasswordResetPage";

const title = "Nastavení nového hesla";
---

<BaseLayout {title}>
  <main class="px-3 mx-auto my-6 max-w-md flex-grow">
    <h1 class="text-center mb-6">{title}</h1>

    <PasswordResetPage client:only="react" />
  </main>
</BaseLayout>
