---
import BaseLayout from "@layouts/BaseLayout.astro";
import { ForgettenPasswordForm } from "@layouts/pages/forgetten-password/ForgettenPasswordForm";
import { path } from "../libs/routes";

const title = "Zapomenuté heslo";
---

<BaseLayout {title}>
  <main class="px-3 mx-auto my-6 max-w-md flex-grow">
    <h1 class="text-center mb-6">{title}</h1>

    <ForgettenPasswordForm client:only="react" />

    <hr class="my-6" />

    <p class="text-center">
      Už jste si vzpomněli na heslo? <a class="link-primary" href={path({ to: "/prihlaseni" })}>Přihlaste se</a>
    </p>
    <p class="text-center">
      Ještě u nás nejste registrovaní? <a class="link-primary" href={path({ to: "/registrace" })}>Registrujte se</a>
    </p>
  </main>
</BaseLayout>
