---
import { Breadcrumbs } from "@components/Breadcrumbs";
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Zásady ochrany osobních údajů";
---

<BaseLayout {title}>
  <Breadcrumbs breadcrumbs={[{ label: title, to: "/zasady-ochrany-osobnich-udaju" }]} />

  <main class="container flex-grow space-y-6 mt-6 mb-9">
    <article class="prose prose-neutral lg:prose-lg mx-auto">
      <header>
        <h1 class="text-center">{title}</h1>
      </header>
      <section>
        <h2>I. Základní ustanovení</h2>
        <ol>
          <li>
            Správcem osobních údajů podle čl. 4 bod 7 nařízení Evropského parlamentu a Rady (EU) 2016/679 o ochraně
            fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů (dále jen: „GDPR”)
            je Jaroslav Novotný, IČ: 17644623, Fyzická osoba podnikající dle živnostenského zákona od 17.10.2022. (dále
            jen: „správce“).
          </li>
          <li>
            Kontaktní údaje správce:
            <ul>
              <li>Datová schránka: k8u9er</li>
              <li>Email: info@kviti-jinak.cz</li>
              <li>Telefon: +420 602 965 954</li>
            </ul>
          </li>
          <li>
            Osobními údaji se rozumí veškeré informace o identifikované nebo identifikovatelné fyzické osobě;
            identifikovatelnou fyzickou osobou je osoba, kterou lze přímo či nepřímo identifikovat, zejména odkazem na
            určitý identifikátor, například jméno, identifikační číslo, lokační údaje, síťový identifikátor nebo na
            jeden či více zvláštních prvků fyzické, fyziologické, genetické, psychické, ekonomické, kulturní nebo
            společenské identity této fyzické osoby.
          </li>
          <li>Správce nejmenoval pověřence pro ochranu osobních údajů, jelikož to pro něj není povinné dle GDPR.</li>
        </ol>
      </section>
      <section>
        <h2>II. Zdroje a kategorie zpracovávaných osobních údajů</h2>
        <ol>
          <li>
            Správce zpracovává osobní údaje, které jste mu poskytl/a, pouze v rozsahu nezbytném pro splnění smlouvy,
            zákonných povinností nebo oprávněných zájmů správce.
          </li>
          <li>
            Správce zpracovává následující kategorie osobních údajů:
            <ul>
              <li>Identifikační údaje (jméno, příjmení, adresa, datum narození).</li>
              <li>Kontaktní údaje (telefonní číslo, emailová adresa).</li>
              <li>Platební údaje (číslo účtu, údaje o provedených platbách).</li>
              <li>Údaje o objednávkách (zakoupené produkty, historie objednávek).</li>
              <li>Technické údaje (IP adresa, cookies, informace o zařízení a prohlížeči).</li>
              <li>Historie komunikace.</li>
            </ul>
          </li>
        </ol>
      </section>
      <section>
        <h2>III. Zákonný důvod a účel zpracování osobních údajů</h2>
        <ol>
          <li>Zákonným důvodem zpracování osobních údajů je:</li>
          <ul>
            <li>Plnění smlouvy mezi Vámi a správcem dle čl. 6 odst. 1 písm. b) GDPR.</li>
            <li>
              Oprávněný zájem správce na poskytování přímého marketingu (zejména pro zasílání obchodních sdělení a
              newsletterů) dle čl. 6 odst. 1 písm. f) GDPR.
            </li>
            <li>
              Vámi udělený souhlas se zpracováním pro účely přímého marketingu dle čl. 6 odst. 1 písm. a) GDPR (v
              případě, že souhlas je požadován).
            </li>
          </ul>
          <li>Účelem zpracování osobních údajů je:</li>
          <ul>
            <li>
              Vyřízení Vaší objednávky a výkon práv a povinností vyplývajících ze smluvního vztahu mezi Vámi a správcem.
            </li>
            <li>Zasílání obchodních sdělení a činění dalších marketingových aktivit.</li>
          </ul>
          <li>Správce neprovádí automatizované individuální rozhodování ve smyslu čl. 22 GDPR.</li>
        </ol>
      </section>
      <section>
        <h2>IV. Doba uchovávání údajů</h2>
        <ol>
          <li>
            Správce uchovává osobní údaje:
            <ul>
              <li>
                Po dobu nezbytnou k výkonu práv a povinností vyplývajících ze smluvního vztahu (10 let od ukončení
                smlouvy).
              </li>
              <li>
                Po dobu trvání oprávněného zájmu na marketingových aktivitách (do odvolání souhlasu nebo vznesení
                námitky).
              </li>
            </ul>
          </li>
          <li>
            Po uplynutí doby uchovávání správce osobní údaje buď vymaže, nebo je anonymizuje pro statistické a
            analytické účely.
          </li>
        </ol>
      </section>
      <section>
        <h2>V. Příjemci osobních údajů</h2>
        <ol>
          <li>
            Příjemci osobních údajů jsou:
            <ul>
              <li>Osoby podílející se na dodání zboží/služeb.</li>
              <li>Poskytovatelé platebních služeb.</li>
              <li>Poskytovatelé IT služeb souvisejících s provozem e-shopu.</li>
              <li>Marketingové agentury.</li>
              <li>Účetní firmy.</li>
            </ul>
          </li>
          <li>Správce nepředává osobní údaje do třetích zemí ani mezinárodním organizacím.</li>
        </ol>
      </section>
      <section>
        <h2>VI. Vaše práva</h2>
        <ol>
          <li>Máte právo:</li>
          <ul>
            <li>Přístup ke svým osobním údajům dle čl. 15 GDPR.</li>
            <li>Opravu svých údajů dle čl. 16 GDPR.</li>
            <li>Výmaz osobních údajů dle čl. 17 GDPR.</li>
            <li>Omezení zpracování dle čl. 18 GDPR.</li>
            <li>Přenositelnost údajů dle čl. 20 GDPR.</li>
            <li>Vznést námitku proti zpracování dle čl. 21 GDPR.</li>
            <li>Odvolat souhlas se zpracováním písemně nebo elektronicky na adresu či email správce.</li>
          </ul>
          <li>
            Máte právo podat stížnost u Úřadu pro ochranu osobních údajů, pokud se domníváte, že bylo porušeno Vaše
            právo na ochranu osobních údajů.
          </li>
          <li>
            Odvolání souhlasu se zpracováním nemá vliv na zákonnost zpracování provedeného na základě souhlasu před jeho
            odvoláním.
          </li>
        </ol>
      </section>
      <section>
        <h2>VII. Podmínky zabezpečení osobních údajů</h2>
        <ol>
          <li>Správce přijal vhodná technická a organizační opatření k ochraně osobních údajů.</li>
          <li>
            Údaje jsou chráněny pomocí šifrování, zaheslovaného přístupu a omezení přístupu pouze pro pověřené osoby.
          </li>
          <li>
            Správce provádí pravidelné audity technických a organizačních opatření, aby zajistil odpovídající úroveň
            zabezpečení osobních údajů.
          </li>
        </ol>
      </section>
      <section>
        <h2>VIII. Závěrečná ustanovení</h2>
        <ol>
          <li>
            Odesláním objednávky z internetového formuláře potvrzujete, že jste seznámen/a s podmínkami ochrany osobních
            údajů a že je v celém rozsahu přijímáte.
          </li>
          <li>S těmito podmínkami souhlasíte zaškrtnutím příslušného políčka v objednávkovém formuláři.</li>
          <li>
            Správce si vyhrazuje právo tyto podmínky změnit. O změnách budete informováni na webových stránkách a
            emailem, pokud je to možné. Změny neovlivní dříve udělené souhlasy, ledaže to výslovně stanovíte.
          </li>
        </ol>
      </section>
    </article>
  </main>
</BaseLayout>
