---
import { getCollection } from "astro:content";
import { Breadcrumbs } from "@components/Breadcrumbs";
import BaseLayout from "@layouts/BaseLayout.astro";
import { convert } from "html-to-text";
import rehypeSanitize from "rehype-sanitize";
import rehypeStringify from "rehype-stringify";
import remarkParse from "remark-parse";
import remarkRehype from "remark-rehype";
import { unified } from "unified";
import { formatDate } from "../../libs/i18n";
import { path, pictureAbsolute } from "../../libs/routes";

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  return articles.map((article) => ({
    params: { slug: article.data.slug },
    props: { article: article.data },
  }));
}

const { article } = Astro.props;

const content = String(
  await unified()
    .use(remarkParse)
    .use(remarkRehype)
    .use(rehypeSanitize)
    .use(rehypeStringify)
    .process(article.content),
);

const schema = JSON.stringify({
  "@context": "http://schema.org",
  "@type": "Article",
  headline: article.title,
  // alternativeHeadline: article.perex,
  image: article.picture
    ? pictureAbsolute(article.picture.id, article.picture.type, {})
    : undefined,
  author: article.seo.author,
  genre: article.seo.genre,
  keywords: article.seo.keywords,
  publisher: {
    "@id": `${Astro.url.origin}/#organization`,
  },
  url: path({ to: "/clanky/{slug}", slug: article.slug }),
  datePublished: article.published?.toISOString(),
  dateCreated: article.created?.toISOString(),
  dateModified: article.modified?.toISOString(),
  description: article.perex,
  articleBody: convert(content),
});
---

<BaseLayout description={article.perex} title={article.title}>
  <Breadcrumbs
    breadcrumbs={[
      { label: "Články", to: "/clanky" },
      { label: article.title, to: "/clanky/{slug}", slug: article.slug },
    ]}
  />

  <main class="container flex-grow space-y-6 mt-6 mb-9">
    <div class="prose prose-neutral lg:prose-lg mx-auto">
      <h1>{article.title}</h1>
      <div class="text-end italic text-sm mx-auto text-secondary">
        {article.seo.author}{article.published && <>, {formatDate(article.published)}</>}
      </div>
      <Fragment set:html={content} />
    </div>
  </main>

  <script is:inline type="application/ld+json" set:html={schema} />``
</BaseLayout>
