---
import { getCollection } from "astro:content";
import { Breadcrumbs } from "@components/Breadcrumbs";
import BaseLayout from "@layouts/BaseLayout.astro";
import { formatDate } from "../../libs/i18n";
import { getPictureUrl } from "../../libs/pictures";
import { path } from "../../libs/routes";

const articles = await getCollection("articles");
const title = "Články";
---

<BaseLayout {title}>
  <Breadcrumbs breadcrumbs={[{ label: title, to: "/clanky" }]} />

  <main class="container flex-grow my-6">
    <h1 class="text-center">{title}</h1>
    {
      articles.length == 0 ? (
        <div class="my-6">
          <p>Tak to vypadá, že jsme žádný článek ještě nezveřejnili.</p>
        </div>
      ) : (
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 my-6">
          {articles.map(({ data: { perex, picture, published, slug, title } }) => (
            <a
              class="flex flex-row rounded-md border-2 border-primary-light overflow-hidden hover:bg-primary-light"
              href={path({ to: "/clanky/{slug}", slug })}
            >
              {picture && <img alt={picture.name} src={getPictureUrl(picture, [{ width: 200 }])} width={264} />}
              <div class="m-4">
                <h2 class="text-3xl">{title}</h2>
                {published && <time class="text-light text-xs">{formatDate(published)}</time>}
                <p class="text-base">{perex}</p>
              </div>
            </a>
          ))}
        </div>
      )
    }
  </main>
</BaseLayout>
