---
import { ClientRouter } from "astro:transitions";
import Footer from "./partials/Footer.astro";
import Header from "./partials/Header.astro";
import "../styles/main.scss";
import { localizedHTML as favicons } from "astro-favicons/middleware";

export interface Props {
  description?: string;
  title?: string;
  transparentHeader?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname.replace(/\/$/, ""), Astro.site);
const defaultTitle = "Kvítí jinak - květinářství Přerov";
const defaultDescription = "Stylové květinářství v Přerově na Wilsonově ulici";
const { description, title, transparentHeader } = Astro.props;
---

<!doctype html>
<html lang="cs">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title ? `${title} | ${defaultTitle}` : defaultTitle}</title>
    <link rel="canonical" href={canonicalURL} />
    <link rel="preconnect" href="https://res.cloudinary.com" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Jaroslav Novotný" />
    <meta name="description" content={description ?? defaultDescription} />
    <!--#region favicons -->
    <Fragment set:html={favicons(Astro.currentLocale)} />
    <!--#endregion favicons -->
    <ClientRouter />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!--#endregion slot:head -->
    <slot name="head" />
    <!--#endregion slot:head -->
  </head>
  <body class="flex flex-col min-h-dvh">
    <header
      class:list={[
        "fixed top-0 right-0 left-0 z-50",
        transparentHeader
          ? "bg-transparent backdrop-blur-md text-black"
          : "bg-primary text-white shadow-sm shadow-black/75",
      ]}
      id="kj-header"
    >
      <slot name="header:before" />
      <Header transition:name="header" transparent={transparentHeader} />
    </header>

    <slot />

    <Footer transition:name="footer" />
  </body>
</html>
